<a href="/feed.atom" aria-label="RSS Feed">{% include "rss.svg" %}</a>
<a href="mailto:dash@dashdot.me" aria-label="Email">{% include "email.svg" %}</a>
<a href="https://github.com/dashdotme" aria-label="GitHub">{% include "github.svg" %}</a>
<a href="https://www.linkedin.com/in/dashvallance/" aria-label="LinkedIn">{% include "linkedin.svg" %}</a>
