<a class="theme-toggle" onclick="toggleTheme()" role="button" aria-label="Toggle dark mode" tabindex="0">
  <span class="theme-icon-sun">{% include "sun.svg" %}</span>
  <span class="theme-icon-moon">{% include "moon.svg" %}</span>
</a>
