---
layout: base.liquid
---

<div class="single-post">
  <div class="back-link">
    <a href="/">â† Index</a>
  </div>

  <h1>{{ title }}</h1>
  <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>

  {{ content }}
</div>
